{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
 {% block content %}
<div width="75%" class="GridstyleColStyle-sc-1lgtuty-0 vZQsg">
  <div class="StaticViewsstyleStaticPageContainer-sc-m8tr8w-2 bioeRl">
    <h2 class="StaticViewsstyleH2-sc-m8tr8w-0 gXMbbT">About Us</h2>
    <p class="StaticViewsstyleParagraph-sc-m8tr8w-3 gthaZu">
      Eshfeeny.com is the leading mini digital healthcare booking platform and
      practice management software. We are pioneering the shift to automated
      physician, clinic, and hospital bookings making healthcare easily
      accessible in the region.
    </p>
    <p class="StaticViewsstyleParagraph-sc-m8tr8w-3 gthaZu">
      With over 200,000 verified reviews, patients can search, compare, and book
      the best doctors in just 1 minute. Doctors also provide Patients with
      seamless healthcare experiences through our clinic management software.
    </p>
    <p class="StaticViewsstyleParagraph-sc-m8tr8w-3 gthaZu">
      We operate in Egypt, KSA, Jordan, Lebanon, Kenya, and Nigeria. We strive
      to lead every aspect of the healthcare industry and continue to launch
      products that have a positive impact on people’s lives. We hope to provide
      this software with more and more updates to serve more and more useful
      functionalities.
    </p>
  </div>
</div>
{% endblock %}
