{% extends'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div>
  <ul>
    <li>
<h2
  id="contact-us__contact-details__hotline--title"
  class="ContactUsstyle__TitleText-sc-qs7med-2 erEZxW"
>
  Call Us
</h2>
<p
  id="contact-us__contact-details__hotline--details"
  class="ContactUsstyle__NormalText-sc-qs7med-3 dZKaKI"
>
  <span
    id="contact-us__contact-details__hotline--text"
    class="ContactUsstyle__BoldText-sc-qs7med-4 clTiMZ"
    >16676</span
  >
  <!-- -->Cost of regular call
</p>
</li>
<li>
  <p
  id="contact-us__contact-details__contact-number--details"
  class="ContactUsstyle__NormalText-sc-qs7med-3 dZKaKI"
>
  From outside Egypt call:<br /><span
    id="contact-us__contact-details__contact-number--text"
    class="ContactUsstyle__BoldText-sc-qs7med-4 clTiMZ"
    >+2 02 259 83 999</span
  >
</p>
</li>
<li>
<h3
  id="contact-us__contact-details__address--title"
  font-size="21px"
  class="ContactUsstyle__TitleText-sc-qs7med-2 fbHiOR"
>
  Address
</h3>
<p
  id="contact-us__contact-details__address--details"
  class="ContactUsstyle__NormalText-sc-qs7med-3 dZKaKI"
>
  124 Othman Ibn Affan St. behind Military college - Heliopolis
</p></li>
<li><h4
  id="contact-us__contact-details__email--title"
  font-size="21px"
  class="ContactUsstyle__TitleText-sc-qs7med-2 fbHiOR"
>
  Mail Us
</h4>
<a
  id="contact-us__contact-details__email--details"
  href="{{url_for('home_page')}}"
  class="ContactUsstyle__EmailText-sc-qs7med-6 cFphDU"
  >customercare@Eshfeeny.com</a
></li>
</ul>
</div>
<div
  id="contact-us__social-media-container"
  itemscope=""
  itemtype="http://schema.org/Organization"
  class="SocialMediasstyle__SocialMediaURL-sc-17csped-0 kmJuBC"
>
  <link itemprop="url" href="/en" />
  <a
    id="footer-social-media-link--facebook"
    rel="noopener"
    aria-label="Vezeeta facebook link"
    color="#3b5998"
    itemprop="sameAs"
    href="https://www.facebook.com/vezeeta"
    target="_blank"
    class="SocialMediasstyle__SocialMediaLink-sc-17csped-1 cqjsuV">
  </a>
</div>
{% endblock %}