{% extends 'base.html' %} 
{% block title %}Our Team{% endblock %} 
{% block content %}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="../static/images/rawannaser.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rawan Abdelnasser Singab</h5>
              <p class="card-text">Backend Developer and Senior Student at FCIS Ainshams University.</p>
              <p class="card-text">Joined Backend-python Training with ITI .</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../static/images/seifhossam.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Seif Hossam ElDin  </h5>
              <p class="card-text">Backend Developer and Senior Student at FCIS Ainshams University.</p>
              <p class="card-text">Joined Backend-python Training with ITI .</p></div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../static/images/rawanmohamed.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rawan Mohamed Elsayed</h5>
              <p class="card-text">Backend Developer and Senior Student at FCIS Ainshams University.</p>
              <p class="card-text">Joined Backend-python Training with ITI .</p>  
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../static/images/ahmed.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ahmed Yasser</h5>
              <p class="card-text">Backend Developer and Senior Student at FCIS Ainshams University.</p>
              <p class="card-text">Joined Backend-python Training with ITI .</p>  </div>
          </div>
        </div>
      </div>
    {% endblock %}